.main-content{
    margin: 12.5rem 5% 0;
}

.main-content-offer{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 0.5rem;
    margin: 1rem 0;
}

.main-content-offer-image{
    max-width: 500px;
    margin: 0 0.4rem 0;
}

.main-content-offer-image img{
    width: 100%;
    border-radius: 8px;
}
@media only screen and (max-width:1456px){
    .main-content{
        margin: 12.5rem 1% 0;
    }
    .main-content-offer-image{
        max-width: 350px;
        margin: 0 0.4rem 0;
    }
    
}

@media only screen and (max-width:1156px){
    .main-content{
        margin: 12.5rem 1% 0;
    }
    .main-content-offer-image{
        max-width: 300px;
        margin: 0 0.4rem 0;
    }
    
}





@media only screen and (max-width:991px){
    .main-content{
        margin: 14.5rem 1% 0;
    }

    .main-content-offer-image{
        max-width: 250px;
        margin: 0 0.4rem 0;
    }
    
}


@media only screen and (max-width:828px){
    .main-content{
        margin: 15.5rem 1% 0;
    }

    .main-content-offer-image{
        max-width: 200px;
        margin: 0 0.4rem 0;
    }
    
}




@media only screen and (max-width:675px){
    .main-content{
        margin: 22.9rem 1% 0;
    }
    .main-content-offer-image{
        max-width: 800px;
        margin: 0 0.1rem 0.5rem;
    }
}

.main-content-destination{
    display: flex;
    flex-direction: column;
    margin: 2rem 0;
    box-shadow: 0px 3px 15px 0px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    border-radius: 8px;
    padding: 1rem 0;
}

.main-content-destination-headline{
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: 24px;
    font-weight: 600;
    margin: 0 0 2rem;
}

.main-content-destination-card{
    /* padding: 1rem; */
    display: grid;
    grid-template-columns: repeat(6,1fr);
    gap: 5px;
    flex-wrap: wrap;
}

.main-content-destination-card-item{
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
}

.main-content-destination-card-item-image{
    max-width: 250px;
    clip-path: circle(35%);
}



.main-content-destination-card-item-image img{
    width: 100%;
}

.main-content-destination-card-item-image img:hover{
    scale: 1.2;
}

.main-content-destination-card-item-name{
    font-size: 16px;
    font-weight: 600;
}

.main-content-destination-card-item-bus{
    font-size: 16px;
    
}

.main-content-destination-card-item-bus p span{
    font-weight: 600;
}


@media only screen and (max-width:647px){
    .main-content-destination-card{
        /* padding: 1rem; */
        display: grid;
        grid-template-columns: repeat(auto-fill,180px);
        justify-content: space-around;
        gap: 10px;
        flex-wrap: wrap;
    }
    
}

/* background: linear-gradient(89.97deg,#ae67fa 1.84%,#f49867 102.67%); */

/* Banner */
.banner-content{
    margin: 1rem 0;
    background: #43C6AC;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #191654, #43C6AC);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #191654, #43C6AC); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    color: #fff;
    font-size: 22px;
    padding: 2rem 1rem;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    position: relative;
    animation: banner_anim 2s alternate;
    animation-timing-function: linear;
}

@keyframes banner_anim {
    from {opacity: 0%;}
    to {opacity: 100%;}
  }


.banner-lists-item{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    padding: 1rem;
    text-align: center;
    align-items: center;
}

.banner-lists-item-icon{
    display: flex;
}



.banner-lists-package-item-name{
    max-width: 150px;
}



@media only screen and (max-width:400px){
    .banner-content{
        margin: 1rem 0;    
        color: #fff;
        font-size: 16px;
        padding: 1rem 1rem;
        display: grid;
        grid-template-columns: repeat(2,1fr);
        flex-wrap: wrap;
    }
}




/************************************ ABOUT ***************************************/
.main-content-about{
    display: flex;
    justify-content: space-around;
    margin: 2rem 0.5rem;
    flex-wrap: wrap;
    align-items: flex-start;
    position: relative;
    animation: about_anim 4s alternate;
    animation-timing-function: ease-in-out;
}

@keyframes about_anim {
    from {opacity: 0%;}
    to {opacity: 100%;}
  }


.main-content-about-image{
    max-width: 900px;
}

.main-content-about-image img{
    width: 100%;
}

.main-content-about-text{
    display: flex;
    flex-direction: column;
    margin: auto 0 auto 1rem;
    align-items: flex-start;

}

.main-content-about-text-headline{
    font-size: 20px;
    font-weight:bolder;
    padding: 0.5rem 0;
}

.main-content-about-text-title{
    max-width: 500px;
    font-size: 65px;
    font-weight: 800;
    line-height: 4.5rem;
}

.main-content-about-text-title p{
    -webkit-text-fill-color: transparent;
    background: linear-gradient(89.97deg,#ae67fa 1.84%,#f49867 102.67%);
    -webkit-background-clip: text;
    text-transform: uppercase;
}

.main-content-about-text-point{
    padding: 1rem 0 0.5rem;
}

.main-content-about-text-point-item{
    font-size: 20px;
    font-weight: 600;
    color: #adadad;
    letter-spacing: 0.8px;
    text-transform: capitalize;
    padding: 0.2rem 0;
}

.main-content-about-text-button{
    padding: 1rem;
}

.main-content-about-text-button button{
    padding: 0.5rem 1rem;
    border-radius: 8px;
    border: 0;
    outline: 0;
    color: #fff;
    font-size: 18px;
    background: rgb(34,193,195);
    background: linear-gradient(90deg, rgba(34,193,195,1) 0%, rgba(50,140,207,1) 78%, rgba(60,156,255,1) 100%);
}

.main-content-about-text-button button:hover{
    padding: 0.5rem 1rem;
    border-radius: 8px;
    border: 0;
    outline: 0;
    color: #fff;
    background: rgb(34,193,195);
    cursor: pointer;
    background: linear-gradient(0deg, rgba(34,193,195,1) 0%, rgba(45,253,149,1) 100%);
}

@media only screen and (max-width:1660px){
    .main-content-about-image{
        max-width: 650px;
    }
    
}


@media only screen and (max-width:1240px){
    .main-content-about-image{
        max-width: 550px;
    }

    .main-content-about-text-headline{
        font-size: 18px;
        font-weight:bolder;
        padding: 0.4rem 0;
    }
    
    .main-content-about-text-title{
        max-width: 350px;
        font-size: 45px;
        font-weight: 800;
        line-height: 3.1rem;
    }

    .main-content-about-text-point{
        padding: 0.8rem 0 0.35rem;
    }
    
    .main-content-about-text-point-item{
        font-size: 18px;
        font-weight: 600;
        color: #adadad;
        letter-spacing: 0.8px;
        text-transform: capitalize;
        padding: 0.2rem 0;
    }

    .main-content-about-text-button button{
        padding: 0.5rem 1rem;
        border-radius: 8px;
        border: 0;
        outline: 0;
        color: #fff;
        font-size: 18px;
        background: rgb(34,193,195);
        background: linear-gradient(90deg, rgba(34,193,195,1) 0%, rgba(50,140,207,1) 78%, rgba(60,156,255,1) 100%);
    }
    
}


@media only screen and (max-width:928px){
    .main-content-about-image{
        max-width: 450px;
    }

    .main-content-about-text-headline{
        font-size: 18px;
        font-weight:bolder;
        padding: 0.4rem 0;
    }
    
    .main-content-about-text-title{
        max-width: 280px;
        font-size: 32px;
        font-weight: 800;
        line-height: 2.5rem;
    }

    .main-content-about-text-point{
        padding: 0.5rem 0 0.15rem;
    }
    
    .main-content-about-text-point-item{
        font-size: 15px;
        font-weight: 600;
        color: #adadad;
        letter-spacing: 0.5px;
        text-transform: capitalize;
        padding: 0.1rem 0;
    }

    .main-content-about-text-button button{
        padding: 0.4rem 0.8rem;
        border-radius: 8px;
        border: 0;
        outline: 0;
        color: #fff;
        font-size: 15px;
        background: rgb(34,193,195);
        background: linear-gradient(90deg, rgba(34,193,195,1) 0%, rgba(50,140,207,1) 78%, rgba(60,156,255,1) 100%);
    }
    
}




